
<!DOCTYPE html>
<html>

<head>
  <meta name="description" content="Vue-Formulate example">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Vue Formulate</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.min.css" integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.22.0/bootstrap-vue.min.css" integrity="sha512-YUqiEWiqDbBHeBWsrh+VDjFU6cMhVVmgjpBaoDhjMDhsfmfKVuU68KC0bFjWCgyD8B4LbcNc2p+1+NFtdYU9bw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
  <div class="outtercontainer">
    <div id="app">
        <template>
          <div>
            <b-button size="sm" class="btn"  variant="success" @click="redirect">< go back</b-button>
          </div>
          <div>
            <small>
              actions: <br>
            </small>
            <ul>
              <li>
            <span><small>X : Cancel the order. </small></span>

              </li>
              <li>
            <span><small>$ : Cancel the order and sell the amount market.</small></span>

              </li>
            </ul>


          </div>

            <div>
              <b-table :items="items"  :fields="fields" :tbody-tr-class="rowClass">
                <template #cell(actions)="data">
                    <p class="btn-in-table">
                        <b-button size="sm" class="btn"  variant="outline-danger" @click="cancel(items[data.index].id, items[data.index].symbol)">X</b-button>
                        <b-button size="sm" class="btn" v-if="items[data.index].type !== 'limit buy'" variant="outline-success" @click="cancel_market(items[data.index].id, items[data.index].symbol)">$</b-button>
                    </p>
                  </template>
              </b-table>
            </div>
        </template>
        <div class="orderfields">
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.22.0/bootstrap-vue.min.js" integrity="sha512-fpl6VxrVL83pzi0dMBPknsykT+mf3+TLzBigOtNKp1cPi2oEpooeOzTb+tOku1YhL7/0eDfe9nnzCPzuAwvtog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
  <style>
  .outtercontainer {
    max-width: 600px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid rgb(94, 207, 145);
    padding: 30px;
    border-radius: 5px;
  }
  
  .btn-in-table {
    display: inline-block;
  }
  
  .orderfields .formulate-input {        
    margin-right: 1.5em;
        }
    span.sr-only {
        display: none;
    }
      
  </style>
</body>

</html>
